<!DOCTYPE html>
<html>

<head>
    <title>Hi Report! 后台登录系统</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="public/css/jquery.datetimepicker.min.css">
    <script src="public/js/jquery.datetimepicker.full.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="page-header">
                    <h1>
                        Hi Report License 管理系统
                    </h1>
                </div>
                <nav class="navbar navbar-default navbar-inverse" role="navigation">

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>
                                <a onclick="create()">创建</a>
                            </li>
                            <li>
                                <a onclick="getAvailable()">查找可用</a>
                            </li>
                        </ul>
                        <div class="navbar-form navbar-left">
                            <div class="form-group">
                                <input type="text" class="form-control" id="phonenumber" />
                            </div>
                            <button class="btn btn-default" onclick="query()">查询</button>
                        </div>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="/logout">注销</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <table class="table table-condensed">
                    <thead>
                        <tr id="header">
                        </tr>
                    </thead>
                    <tbody id="body">
                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        function create() {
            $.get("/v2/newSerial", function(data) {
                result = JSON.parse(data)
                head = '<th>序列号</th>'
                $('#header').html(head)
                body = '<tr><td>' + result.serial + '</td></tr>'
                $('#body').html(body)
            })
        }

        function getAvailable() {
            $.get("/v2/getAvailableSerial", function(data) {
                result = JSON.parse(data)
                head = '<th>序列号</th>'
                $('#header').html(head)
                body = ''
                for (var i = 0; i < result.list.length; i++) {
                    body += '<tr><td>' + result.list[i] + '</td></tr>'
                }

                $('#body').html(body)
            })
        }

        function query(param) {
            var phone = $("#phonenumber").val().trim()
            if (!!param) {
                phone = param
            }
            var head = '<th>数据库id</th>'
            head += '<th>注册号码</th>'
            head += '<th>序列号</th>'
            head += '<th>PCID</th>'
            head += '<th>过期时间</th>'
            head += '<th>导出次数</th>'
            head += '<th>操作</th>'
            if (phone == "") {
                return
            }
            $.get("/v2/getSerialByPhone?phonenumber=" + phone, function(data) {
                result = JSON.parse(data)
                var body = ''
                for (i = 0; i < result.list.length; i++) {
                    body += '<tr>'
                    body += '<td>' + result.list[i].ID + '</td>'
                    body += '<td>' + result.list[i].PhoneNumber + '</td>'
                    body += '<td>' + result.list[i].Serial + '</td>'
                    body += '<td>' + result.list[i].PCID + '</td>'
                    body += '<td>' + result.list[i].ExpireDay + '</td>'
                    body += '<td>' + result.list[i].ExportTimes + '</td>'
                    body += '<td><button class="btn btn-sm btn-success" onclick="modify(' +
                        '\'' + result.list[i].PhoneNumber + '\', ' +
                        '\'' + result.list[i].Serial + '\', ' +
                        '\'' + result.list[i].ExpireDay + '\', ' +
                        '\'' + result.list[i].ExportTimes + '\'' +
                        ')">修改</button></td>'
                    body += '</tr>'
                }
                $('#body').html(body)
            })
            $('#header').html(head)
        }

        function modify(phone, serial, day, time) {
            $('#modalPhoneNumber').html(phone)
            $('#modalSerial').html(serial)
            $('#modalExpireDay').val(day)
            $('#modelExportTimes').val(time)
            $('#myModal').modal('toggle')
        }

        function submitModify() {
            var phone = $('#modalPhoneNumber').html()
            var serial = $('#modalSerial').html()
            var day = $('#modalExpireDay').val().trim()
            var time = $('#modelExportTimes').val().trim()

            var dayreg = /^\d{4}-\d{2}-\d{2}$/
            var timereg = /^\d+$/
            if (!dayreg.test(day)) {
                alert("时间格式不合法")
                return
            }
            if (!timereg.test(time)) {
                alert("导出次数格式不合法")
                return
            }

            var requestBody = JSON.stringify({
                'PhoneNumber': phone,
                'Serial': serial,
                'ExpireDate': day,
                'ExportTimes': parseInt(time)
            })
            $.post("/v2/extend", requestBody, function(data) {
                var result = JSON.parse(data)
                if (result.status == "succeed") {
                    $('#myModal').modal('toggle')
                    query(phone)
                } else {
                    alert(result.error)
                }
            })
        }

        $(document).ready(function() {
            $('#modalExpireDay').datetimepicker({
                format: 'Y-m-d',
                timepicker: false,
            });
        })
    </script>

    <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
                    <h4 class="modal-title" id="myModalLabel">
                        修改Serial信息
                    </h4>
                </div>
                <div class="modal-body">
                    <table class="table table-condensed">
                        <thead>
                            <tr id="header">
                                <th>注册号码</th>
                                <th>序列号</th>
                                <th>过期时间</th>
                                <th>导出次数</th>
                            </tr>
                        </thead>
                        <tbody id="body">
                            <tr>
                                <td id="modalPhoneNumber"></td>
                                <td id="modalSerial"></td>
                                <td>
                                    <input type="text" id="modalExpireDay"></input>
                                </td>
                                <td>
                                    <input type="number" id="modelExportTimes" min="0"></input>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
                    <button type="button" class="btn btn-primary" onclick="submitModify()">
					提交更改
				</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
</body>

</html>